#projects .projects-grid {
  display: grid;
  grid-template-columns: 1fr 12.2fr 1fr 5.8fr;
  grid-gap: 40px;
  align-items: start;
}

#projects .description {
  grid-column: 2;
}

#projects .projects-title {
  writing-mode: vertical-lr;
  transform: scale(-1);
  text-orientation: sideways;
  text-align: end;
}

#projects .work-projects-title {
  grid-column: 1;
}

#projects .work-projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

#projects .side-projects {
  display: grid;
  grid-gap: 40px;
}

@media only screen and (max-width: 1200px) {
  #projects .projects-grid {
    grid-gap: 20px;
  }

  #projects .work-projects {
    grid-gap: 20px;
  }
  
  #projects .side-projects {
    grid-gap: 20px;
  }
}

@media only screen and (max-width: 1000px) {
  #projects .projects-grid {
    grid-template-columns: 1fr 6fr 1fr 6fr;
  }

  #projects .work-projects {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 700px) {
  #projects .projects-grid {
    grid-template-columns: 1fr 6fr;
  }
}