#site-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#site-footer .link-container a {
  position: relative;
  color: var(--secondaryText);
  transition: color .3s ease-in-out;
  text-decoration: none;
  margin-right: 40px;
}

#site-footer .link-container a:hover {
  color: var(--primaryText);
}

@media only screen and (max-width: 700px) {
  #site-footer {
    flex-direction: column;
  }

  #site-footer .link-container {
    margin-bottom: 40px;
  }
}