#about .about-grid {
  display: grid;
  grid-template-columns: 1fr 14fr 6fr;
  grid-gap: 40px;
}

#about .bio {
  grid-column: 2;
}

#about .about-title {
  writing-mode: vertical-lr;
  transform: scale(-1);
  text-orientation: sideways;
  text-align: end;
  grid-column: 1;
}

#about .about-img {
  background: white;
  width: 100%;
  aspect-ratio: 1;
}

#about .tech-stack > i {
  font-size: 2.5em;
  margin: 0 10px 10px 0;
}