#intro .content-container {
  padding-top: 60px;
}

#intro .title-container {
  margin-right: -80vw;
  z-index: 1;
}

#intro a {
  position: relative;
  color: var(--secondaryText);
  margin-top: 100px;
  display: inline-block;
  transition: color .3s ease-in-out;
}

#intro a:hover {
  color: var(--primaryText);
}

#intro a > i {
  position: absolute;
  bottom: 0;
  right: -35px;
  color: var(--secondaryText);
  transition: all .3s ease-in-out;
}

#intro a:hover > i {
  transform: translate(5px, 5px);
  color: var(--primaryText);
}

@media only screen and (max-width: 750px) {
  #intro .title-container {
    margin-right: 0;
  }
}