.wireframe-animation {
  position: relative;
  width: 700px;
}

@keyframes slide-h {
  0% { opacity: 0; transform: translateX(-20px);}
  5% { opacity: 1; transform: translateX(0);}
  50% { opacity: 1; transform: translateX(0);}
  55% { opacity: 0; transform: translateX(-20px);}
  100% { opacity: 0; transform: translateX(-20px);}
}

@keyframes slide-v {
  0% { opacity: 0; transform: translateY(-20px);}
  5% { opacity: 1; transform: translateY(0);}
  50% { opacity: 1; transform: translateY(0);}
  55% { opacity: 0; transform: translateY(-20px);}
  100% { opacity: 0; transform: translateY(-20px);}
}

.wireframe-animation .widget-1, 
.wireframe-animation .widget-2 {
  position: absolute;
  opacity: 0;
  animation-duration: 16s;
  animation-iteration-count: infinite;
}

.wireframe-animation .widget-1 {
  animation-name: slide-h;
}

.wireframe-animation .widget-2 {
  animation-name: slide-v;
}

.wireframe-animation .notif {
  top: 100px;
  left: 60px;
  animation-delay: 2s;
}

.wireframe-animation .card-1 {
  top: 140px;
  right: 130px;
  animation-delay: 5.5s;
}

.wireframe-animation .card-2 {
  bottom: 210px;
  left: 80px;
  animation-delay: 9s;
}

.wireframe-animation .heart {
  bottom: 190px;
  right: 80px;
  animation-delay: 12.5s;
}

