#contact .contact-grid {
  margin: 60px 0;
  display: grid;
  grid-template-columns: 1fr 12fr 12fr;
  grid-gap: 80px;
}

#contact .contact-form {
  grid-column: 2;
}

#contact .contact-form > * {
  margin-bottom: 40px;
}

#contact .contact-form > label {
  display: block;
}


@media only screen and (max-width: 900px) {
  #contact .contact-grid {
    grid-template-columns: 1fr 24fr;
  }

  #contact .contact-prompt {
    grid-column: 2;
    grid-row: 1;
  };
}

@media only screen and (max-width: 550px) {
  #contact .contact-grid {
    grid-gap: 20px;
  }
}
